<!-- menu normal  -->
<footer class="footer-section uk-visible@m uk-padding-small">
    <div class="uk-child-width-1-3" uk-grid>
        <div>
            <p class="logo-footer">haudelaly.</p>
        </div>
        <div>
            <p class="copyrigh">© haudelaly.  &nbsp;  2018</p>
        </div>
        <div>
            <div uk-grid class="uk-text-right">
                <div class="uk-child-width-1-4">
                </div>
                <div class="uk-child-width-1-4">
                </div>         
                <div class="uk-child-width-1-4 first-icon">
                    <a href="#" class="icon-socials" uk-icon="facebook" ratio="2.3"></a> 
                </div>
                <div class="uk-child-width-1-4 uk-padding-remove-left">
                    <a href="https://www.instagram.com/haudelaly/?hl=fr" class="icon-socials" uk-icon="instagram" ratio="2.3"></a> 
                </div>                      
            </div>
        </div>
    </div>
</footer>


<!-- footer Mobile -->
<footer class="footer-section-mobile uk-hidden@m uk-remove-padding" >
    <div class="uk-text-center">
        <a class="logo-footer-mobile" href="#">haudelaly.</a>
    </div>
    <div class="uk-text-center">
            <a href="#" class="icon-socials-mobile" uk-icon="facebook" ratio="0.8">&nbsp;</a>
            <a href="https://www.instagram.com/haudelaly/?hl=fr" class="icon-socials-mobile" uk-icon="instagram" ratio="0.8">&nbsp;</a>
    </div>
    <div>
            <p class="copyrigh-mobile">© haudelaly.  &nbsp;  2018</p>
    </div> 
</footer>
        


    





  


